.page-header,
.search-container,
table,
.detail-container,
.section-title {
  box-sizing: border-box;
}

th,
td {
  height: 36px;
  padding: 0 10px;
  border: 1px solid #d9dce1;
  text-align: center;
  white-space: nowrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

/* .tr-salary-avg {
  position: sticky;
  bottom: 0;
  z-index: 999;
}

.tr-salary-avg td {
  background-color: #f0f1e6;
  border-top: 2px solid #d9dce1;
  
} */

.dropdown-overlay-container {
  position: relative;
  z-index: 1002;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 16px;
}

.page-header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

h3 {
  margin: 5px 0px;
}

.button-container {
  display: flex;
  gap: 4px;
}

.button-container button {
  min-width: 70px;
  height: 32px;

  padding: 0 14px;

  border: 1px solid #c8ccd2;
  border-radius: 3px;

  background-color: #3324fd;
  color: #ffffff;

  font-size: 13px;
  cursor: pointer;
}

.button-container .btn-retrieve {
  background-color: #080072;
  color: #ffffff;
}

.button-container button:hover {
  background-color: #2f64d0;
}

.button-container button:active {
  background-color: #e5e7eb;
}

.table-container {
  height: 350px;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #d9dce1;
  scroll-padding-bottom: 36px;
}

tfoot {
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.tfoot-salary-avg {
  background-color: #f0f1e6;
  border-top: 2px solid #b0b4bb;
  height: 26px;
  font-weight: 600;
}

.tr-footer-spacer {
  height: 36px;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #bfd0f1;
  border: 1px solid #d9dce1;
  padding: 10px;
  height: 60px;
}

.search-item {
  display: flex;
}

.department-container {
  display: flex;
  align-items: center;

  height: 30px;

  border: 1px solid #c8ccd2;
}

.department-input-wrapper {
  position: relative;
  width: 100px;
  height: 30px;
}

.department-container svg {
  position: absolute;
  right: -10px;
  transform: translateY(-130%);
  color: #666;

  flex-shrink: 0;
  margin: 0 6px;
}

.department-div {
  margin-left: 50px;
  margin-right: 20px;
}

.department-input {
  width: 100px;
  height: 24px;
}

.department-printout {
  padding-left: 10px;
  width: 160px;
  height: 24px;
}

.name-div {
  margin-left: 80px;
  margin-right: 15px;
}

.name-input {
  width: 100px;
  height: 24px;
}

.gender-item {
  display: flex;
}

.gender-div {
  margin-left: 40px;
  margin-right: 15px;
}

.gender-radio-wrapper {
  margin-left: 2px;
  margin-right: 10px;
}

.new-add-row {
  background-color: #fff9db !important;
  border-bottom: 2px solid #e9ecef;
}